/* nav{
    height: 80px;
    background-color: #CA4E52;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* .nav{
    padding-right: 100px;
    justify-items: space-between;
    gap: 100px;
    display: flex;
} */
 nav{
    height: 80px;
    background-color: #CA4E52;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    padding-left: 40px;
    font-size: 50px;
}
.burger{
    margin: 0;
    width: 60px;
}
.nav{
    padding-right: 100px;
    align-items: center;
    gap: 100px;
    display: flex;
}
.nav img{
    display: none;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: centers;
}
.container{
    background-color: #F7EFCE;
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}
body{
    margin: 0;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
}
.pic{
    display: flex;
    justify-content: center;
}
#pic{
    width: 700px;
}
/* a{
    text-decoration: none;
    color: black;
    font-size: 30px;
} */
img{
    width: 50%;
    display: flex;
}
.container{
    display: flex;
    justify-content: center;
}
#score{
    font-size:80px;
}
@media  (max-width: 900px) {
    .nav a{
        display: none;
        font-size: 5px;
    }
    .nav img{
        display: block;
    }
    .nav{
        padding-right:10px ;
    }
    nav{
        height: 70px;
        display: flex;
        gap: 70px;
    }
    .button{
        font-size: 20px;
        padding: 20px;
        width: 200px;
    }
    #pic{
        width: 600px ;
    }
    a{
        font-size: 10px;
        display: flex;
        text-align: center;
    }
    h1{
        font-size: 20px;
    }
    .container{
        align-items: center;
    }
    .pstart{
        width: 60%;
    }
    footer{
        height: 50px;
    }
}
@media(max-width:700px){
    #pic{
        width: 500px;
    }
}